body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #4a4a55;
  /* color: #fff; */
  text-align: center;
}
h2 {
  text-align: center;
}


.screen {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: gray;
  border-radius: 10px;
  box-shadow: 0 0 8px darkblue;
}


.hidden {
  display: none;
}


input, select, button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #131212;
}


button {
  background: #2f54eb;
  color: white;
  border: none;
  cursor: pointer;
}


button:hover {
  background: #100b55;
}


.info-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.card {
  flex: 1;
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  margin-right: 10px;
}


.card:last-child {
  margin-right: 0;
}


.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


#map-container {
  height: 400px; /* Adjusted for Leaflet */
  width: 100%;
  margin: 20px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background: #e0e0e0;
  text-align: center;
}


#log {
  background: #fffef0;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
}


#log ul {
  list-style-type: square;
  padding-left: 20px;
}


#security-indicator {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #e8f5e9;
}


.active {
  background: #100b55; /* For active button state */
}

